/*
style.css
---------
 
Par Jerome S.
Parcours Developpeur Web (OpenClassrooms)
Projet 2 - Mission - Créer un site web pour présenter CV
*/


/* Mise en forme appliquée à la structure générale de la page */
header, body{
	font-family: Arial;
	font-size: 1.0em;
}

h2, h3{
	font-weight: bold;
}

header{
	align-self: center;
}

img{
	width: 100%;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.3em;
}

h3{
	font-size: 1.0em;
	text-transform: uppercase;
}

aside{
	width: 100%;
}

footer{
	font-size: 0.8em;
}

article{
	padding-left: 25px;
}

/* Mise en forme appliquée sur des blocs plus précis dans la structure de page */
header h1, header p{
	margin: 5px 5px 5px 10px;
}

header h1{
	text-transform: uppercase;
}

header p{
	font-size: 1.5em;
	font-weight: bold;
}

a:link{
	color: black;
}

aside img{
	border : solid 5px rgba(0,0,0,0.1);
	border-radius: 50%;
}

aside h2{
	padding: 5px 0px 5px 0px;
	background-color: black;
	text-align: center;
	text-transform: uppercase;
}

aside p{
	margin-left: 50px;
	margin-right: 50px;
}

article{
	margin-right: 2.0em;
}

article .row{
	padding-top: 50px;
}

article h2{
	margin-left: 1.0em;
	align-self: center;
}

article span{
	padding-left: 25px;
	font-weight: bold;
}



/* Mise en forme appliquée sur des classes de balises HTML */
.couleur-fond{
	background-color: #FFD600;
}

.couleur-police{
	color: #FFD600;
}

.entete-souligne{
	padding-bottom: 7px; 
	border-bottom: solid #FFD600;
}

.premier-p{
	margin-top: 25px;
}

.dernier-p{
	margin-bottom: 25px;
}

.detail-article{
	padding-left: 0px;
}

.ville{
	padding-left: 40px;
	font-weight: bold;
}

.surbrillance{
	font-weight: bold;
}


/* Mise en forme appliquée sur des IDs de balises HTML */
#souligne{
	border-bottom: 2px solid #FFD600;
	line-height: 1.2;
}

#picto_loisirs{
	margin: 25px 0px 30px 0px;
	justify-content: center;
}

#photoID{
	padding: 50px 50px 40px 50px;
}

#apropos{
	text-align: justify;
}


/* Media Queries pour adapter la taille des caractères & mise en page */ 
@media screen and (min-width: 768px){
	header, body{
		font-size: 1.0em;
	}

	h1{
		font-size: 3.5em;
	}

	h2{
		font-size: 1.9em;
	}

	h3{
		font-size: 1.5em;
	}

	header h1, header p{
		margin: 5px 5px 5px 60px;
	}

	header p{
		font-size: 2.0em;
	}

	article{
		margin-left: 70px;
		margin-right: 3.5em;
	}

	article h2{
		margin-left: 1.5em;
	}

	#apropos{
		margin-bottom: 650px;
	}
}

@media screen and (min-width: 992px){
	h1{
		font-size: 5.0em;
	}

	h2{
		font-size: 2.6em;
	}

	h3{
		font-size: 1.5em;
	}
}
